@import "tailwindcss";

@layer components {
  .form-input-custom {
    @apply mt-[20px] mb-[10px] py-[12px] px-[5px] shadow-[inset_0_2px_4px_rgba(0,0,0,0.1)] 
           rounded border-b-[3px] border-transparent outline-none valid:border-green-500;
  }
  .div-input-custom {
    @apply flex flex-col w-[70%] relative;
  }
  .label-custom {
    @apply absolute text-gray-400 top-[30px] start-[10px] invisible;
  }
}
.form-input-custom:not(:placeholder-shown) + label {
  top: -7px;
  left: 0;
  visibility:visible;
}